<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Hostel Room Allocation</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/home.css" />
  <script src="/js/script.js"></script>
</head>
<body>
  <header>
  <nav>
    <h1>Hostel Room Allocation</h1>
    <div class="menu-toggle" id="mobile-menu">&#9776;</div>
    <ul class="nav-links" id="nav-links">
      <li><a href="/home">Home</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/">Log Out</a></li>
    </ul>
  </nav>
  
</header>
